:root {
  --primaryColor: rgb(52,52,52);
  --primaryBtn: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  --backgroundColor: rgb(249,249,249);
  --JosefinSans: 'Josefin Sans', sans-serif;
}
.no-gutters{
  margin:0;
  padding:0;
}
.algn-itms-c{
  align-items: center;
}
.bg-snow{
  background:rgb(249,249,249)
}
html, body, .landing-container{
  margin:0;
  padding:0;
}
/* @import "https://fonts.googleapis.com/css?family=Poppins:500,700,500|Source+Sans+Pro:400,700"; */

/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
border-radius: 24px;
border: none; */

.main-screen {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main-screen__background{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  align-content: center;
}
.background-img{
  width: auto; 
  height: 100%;
}
.main-screen__content{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top:39px;
  padding-left: 372px;
  display: table;
}
.main-screen-text{ 
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: calc(100vh - 39px);
}
.main-screen-text > span{
  display: block;
  margin-bottom: 20px;
}
.logotype{
  width: 233px;
  height: 55px;
  position: absolute;
  left:0;
  top:0;
}
.main-screen-title{
  font-size: 40px;
  font-family: var(--JosefinSans);
}
.main-screen-description{
  font-size: 25px;
  font-weight: 300;  
  font-family: var(--JosefinSans);
}
.shelude-btn{
  width: 175px;
  height: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 25px;
  border: none;
  background: var(--primaryBtn);
  font-size: 18px;
  padding-top:5px;
  font-family: var(--JosefinSans);
  color:#fff;
  text-decoration:none;
}
.shelude-btn.login-btn{
  margin-left: 10px;color: rgb(82,182,138);border: 2px solid rgb(82,182,138);background:transparent
}
.main-screen__ipad{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: right;
  line-height: 100vh;
}
.ipad{ 
  height: 777px;
  width: auto;
  margin-right: -282px;
}
.form-screen{
  width: 100%;
  padding-top:100px;
  padding-bottom:100px;
  text-align: center;
}
.form-screen__title{
  font-family: var(--JosefinSans);
  font-size: 30px;
  font-weight: 500;
  color: var(--primaryColor);
}
.form-input{
  width: 400px;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 37px;
  border: 1px solid #707070;
  background: transparent;
  font-size: 18px;
  padding: 15px 25px 15px 25px;
  margin-right: 20px;
  opacity: 0.3;

}
.form-input:hover,.form-input:focus, .form-input:active, .shelude-btn:hover, .shelude-btn:focus, .shelude-btn:active{
  outline:none;
}
.btn-form{
  width: 250px;
  height: 60px;  border-radius: 37px;font-size: 22px;
}
.first-type-screen{
  width: 100%;
  padding:0;
  margin:0;
  padding-left:180px;
  padding-right:180px;
}
.second-type-screen{
  width: 100%;
  height: 100vh;
  padding:0;
  margin:0;
  padding-left:180px;
  padding-right:180px;
  display: flex;
}

.default-title{
color:#22252A;
font-size: 40px;
position: relative;
font-family: var(--JosefinSans);
line-height: 48px;
letter-spacing: 0px;
}
.title-line{
  width: 53px;
    height: 3px;
    background: #338B84;
    left: 0;
    position: absolute;
    border: 0;
}
.img-block{
  width: 100%;
}
.img-content{
  width: 100%;height: auto;
}
.content-number{
  color:#22252A;
  opacity: 0.5;
  font-size: 25px;
  line-height: 30px;
  font-family: var(--JosefinSans);
}
.content-number-mobile{
  color:#22252A;
  opacity: 0.5;
  font-size: 25px;
  line-height: 30px;
  font-family: var(--JosefinSans);
  display: none;
}
.inner-content span{
  color:#22252A;
  font-family: var(--JosefinSans);
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.63px;
  font-weight: 500;
}
.inner-content p{
  font-size: 22px;
  font-family: var(--JosefinSans);
  color:#22252A;
  opacity: 0.7;
  line-height: 35px;
  letter-spacing: 0.55px;
  margin-top: 20px;
  font-weight: 400;
}
/* .description-block{

} */
.description-block.mrgn-200{
  margin-top: 200px;
}
.description-block.mrgn-50{
  margin-top: 50px;
}

.custom-mt{
  margin-top:15px;
}
.mob-block{
  display: none;
}
/*--------------- <MEDIA> -----------------*/
@media only screen and (max-width : 1920px) {

}
@media only screen and (max-width : 1600px) {
  .ipad {
    height: 667px;
  }
  .description-block.mrgn-200{
    margin-top: 100px;
  }
}

@media only screen and (max-width : 1500px) {
  .main-screen__content{
    padding-left: 222px;
  }
}
@media only screen and (max-width : 1366px) {
  .ipad {
    height: 567px;
    margin-right: -142px;
  }
  .main-screen__content{
    padding-left: 122px;
  }
}
@media only screen and (max-width : 1280px) {
  .main-screen__content{
    padding-left: 122px;
  }
  .ipad {
    height: 567px;
  }
  .first-type-screen{
    padding-left: 50px;
    padding-right: 50px;
  }
  .second-type-screen{
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width : 1050px) {
  .main-screen__content{
    padding-left: 22px;
  }
  .form-input{
    width: 250px;
  }
  .ipad {
    height: 567px;
    margin-right: -341px;
  }
}
@media only screen and (max-width : 991px) {
  .second-type-screen {
    height: 100%;
  }
  .default-title {text-align: center;}
  .title-line{
    right: 0;
  }
  .main-screen-title {
    font-size: 30px;
  }
  .main-screen-description {
    font-size: 20px;
  }
  .second-type-screen{
    margin-top:50px
  }
}
@media only screen and (max-width : 788px) and (orientation: portrait)  {
  .ipad {
    height: 767px;
    margin-right: -341px;
  }
  
}
@media only screen and (max-width : 500px) and (orientation: portrait)  {
  .main-screen__ipad {
    left: -70%;
    bottom: -50%;
  }
  .ipad {
    height: 300px;
  }
  .form-input {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 90%;
  }
  .main-screen-text{
    text-align: left;
  }
  .main-screen-title{
    font-size: 20px;
  }
  .main-screen__content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .logotype {
    width: 115px;
    margin-left: 30px;
  }
  .shelude-btn.login-btn{
    margin-left: 0;
    position: absolute;
    top: 3px;
    border: none;
    box-shadow: 0 0 black;
    right: 0;
}
.shelude-btn:not(.login-btn){
  width: 90%;
}
.main-screen .shelude-btn:not(.login-btn){
  width: 100%;
}
.form-screen__title{
  margin-bottom: 30px;
}
  .content-number{
    display: none;
  }
  .content-number-mobile{
    display: inline-block;
  }
  .mob-block{
    display: block;
  }
  .no-mob-block{
    display: none;
  }
  .img-block{
    text-align: center;
    text-align: -webkit-center;
  }
  .inner-content, .inner-content p{
    text-align: left;
  }
  .form-screen, .first-type-screen, .second-type-screen{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
  }
}
@media only screen and (max-width : 375px) {
  .description-block{
   text-align: center;
  }
}
/*--------------- </MEDIA> -----------------*/