:root {
  --primaryColor: rgb(52,52,52);
  --primaryBtn: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  --backgroundColor: rgb(249,249,249);
  --JosefinSans: 'Josefin Sans', sans-serif;
}
.no-gutters{
  margin:0;
  padding:0;
}
.algn-itms-c{
  align-items: center;
}
.bg-snow{
  background:rgb(249,249,249)
}
html, body, .landing-container{
  margin:0;
  padding:0;
}
/* @import "https://fonts.googleapis.com/css?family=Poppins:500,700,500|Source+Sans+Pro:400,700"; */

/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
border-radius: 24px;
border: none; */

.main-screen {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main-screen__background{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  align-content: center;
}
.background-img{
  width: auto; 
  height: 100%;
}
.main-screen__content{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top:39px;
  padding-left: 372px;
  display: table;
}
.main-screen-text{ 
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: calc(100vh - 39px);
}
.main-screen-text > span{
  display: block;
  margin-bottom: 20px;
}
.logotype{
  width: 233px;
  height: 55px;
  position: absolute;
  left:0;
  top:0;
}
.main-screen-title{
  font-size: 40px;
  font-family: var(--JosefinSans);
}
.main-screen-description{
  font-size: 25px;
  font-weight: 300;  
  font-family: var(--JosefinSans);
}
.shelude-btn{
  width: 175px;
  height: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 25px;
  border: none;
  background: var(--primaryBtn);
  font-size: 18px;
  padding-top:5px;
  font-family: var(--JosefinSans);
  color:#fff;
  text-decoration:none;
}
.shelude-btn.login-btn{
  margin-left: 10px;color: rgb(82,182,138);border: 2px solid rgb(82,182,138);background:transparent
}
.main-screen__ipad{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: right;
  line-height: 100vh;
}
.ipad{ 
  height: 777px;
  width: auto;
  margin-right: -282px;
}
.form-screen{
  width: 100%;
  padding-top:100px;
  padding-bottom:100px;
  text-align: center;
}
.form-screen__title{
  font-family: var(--JosefinSans);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--primaryColor);
}
.form-input{
  width: 400px;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 37px;
  border: 1px solid #707070;
  background: transparent;
  font-size: 18px;
  padding: 15px 25px 15px 25px;
  margin-right: 20px;
  opacity: 0.3;

}
.form-input:hover,.form-input:focus, .form-input:active, .shelude-btn:hover, .shelude-btn:focus, .shelude-btn:active{
  outline:none;
}
.btn-form{
  width: 250px;
  height: 60px;  border-radius: 37px;font-size: 22px;
}
.first-type-screen{
  width: 100%;
  padding:0;
  margin:0;
  padding-left:180px;
  padding-right:180px;
}
.second-type-screen{
  width: 100%;
  height: 100vh;
  padding:0;
  margin:0;
  padding-left:180px;
  padding-right:180px;
  display: flex;
}

.default-title{
color:#22252A;
font-size: 40px;
position: relative;
font-family: var(--JosefinSans);
line-height: 48px;
letter-spacing: 0px;
}
.title-line{
  width: 53px;
    height: 3px;
    background: #338B84;
    left: 0;
    position: absolute;
    border: 0;
}
.img-block{
  width: 100%;
}
.img-content{
  width: 100%;height: auto;
}
.content-number{
  color:#22252A;
  opacity: 0.5;
  font-size: 25px;
  line-height: 30px;
  font-family: var(--JosefinSans);
}
.content-number-mobile{
  color:#22252A;
  opacity: 0.5;
  font-size: 25px;
  line-height: 30px;
  font-family: var(--JosefinSans);
  display: none;
}
.inner-content span{
  color:#22252A;
  font-family: var(--JosefinSans);
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.63px;
  font-weight: 500;
}
.inner-content p{
  font-size: 22px;
  font-family: var(--JosefinSans);
  color:#22252A;
  opacity: 0.7;
  line-height: 35px;
  letter-spacing: 0.55px;
  margin-top: 20px;
  font-weight: 300;
}
/* .description-block{

} */
.description-block.mrgn-200{
  margin-top: 200px;
}
.description-block.mrgn-50{
  margin-top: 50px;
}

.custom-mt{
  margin-top:15px;
}
.mob-block{
  display: none;
}
/*--------------- <MEDIA> -----------------*/
@media only screen and (max-width : 1920px) {

}
@media only screen and (max-width : 1600px) {
  .ipad {
    height: 667px;
  }
  .description-block.mrgn-200{
    margin-top: 100px;
  }
}

@media only screen and (max-width : 1500px) {
  .main-screen__content{
    padding-left: 222px;
  }
}
@media only screen and (max-width : 1366px) {
  .ipad {
    height: 567px;
    margin-right: -142px;
  }
  .main-screen__content{
    padding-left: 122px;
  }
}
@media only screen and (max-width : 1280px) {
  .main-screen__content{
    padding-left: 122px;
  }
  .ipad {
    height: 567px;
  }
  .first-type-screen{
    padding-left: 50px;
    padding-right: 50px;
  }
  .second-type-screen{
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width : 1050px) {
  .main-screen__content{
    padding-left: 22px;
  }
  .form-input{
    width: 250px;
  }
  .ipad {
    height: 567px;
    margin-right: -341px;
  }
}
@media only screen and (max-width : 991px) {
  .second-type-screen {
    height: 100%;
  }

  .main-screen-title {
    font-size: 30px;
  }
  .main-screen-description {
    font-size: 20px;
  }
  .second-type-screen{
    margin-top:50px
  }
}
@media only screen and (max-width : 788px) and (orientation: portrait)  {
  .ipad {
    left: -86%;
    bottom: -39%;
  }
  
}
@media only screen and (max-width : 500px) and (orientation: portrait)  {
  .main-screen__ipad {
    left: -70%;
    bottom: -50%;
  }
  .ipad {
    height: 300px;
  }
  .form-input {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
  }
  .main-screen-text{
    text-align: left;
  }
  .main-screen-title{
    font-size: 20px;
  }
  .default-title, .form-screen__title{
    text-align: left;
    font-size: 32px;
  }
  
  .main-screen__content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .logotype {
    width: 115px;
    margin-left: 30px;
  }
  .shelude-btn.login-btn{
    margin-left: 0;
    position: absolute;
    top: 3px;
    border: none;
    box-shadow: 0 0 black;
    right: 0;
}
.shelude-btn:not(.login-btn){
  width: 100%;
}
.main-screen .shelude-btn:not(.login-btn){
  width: 100%;
}
  .content-number{
    display: none;
  }
  .content-number-mobile{
    display: inline-block;
  }
  .mob-block{
    display: block;
  }
  .no-mob-block{
    display: none;
  }
  .img-block{
    text-align: center;
    text-align: -webkit-center;
  }
  .inner-content, .inner-content p{
    text-align: left;
  }
  .inner-content p{
    font-size: 18px;
  }
  .form-screen, .first-type-screen, .second-type-screen {
    padding-left: 21px;
    padding-right: 21px;
  }
  .form-screen, .first-type-screen, .second-type-screen{
    padding-top: 50px;
    padding-bottom:50px;
    margin-top: 0;
  }
}
@media only screen and (max-width : 375px) {
  .description-block{
   text-align: center;
  }
}
/*--------------- </MEDIA> -----------------*/
/*----------------footer--------------------*/
.footer-top {
  border-bottom: 1px solid #E9E9E9;
  padding-top: 75px;
}

@media (max-width: 767px) {
  .footer-top {
      padding-top: 35px;
  }
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 111px;
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

@media (max-width: 767px) {
  .footer-bottom {
      height: auto;
  }
}

@media (max-width: 576px) {
  .footer-bottom {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 15px 0;
  }
}

.footer-bottom .copyright, .footer-bottom .copyright-author {
  line-height: 1;
}

@media (max-width: 576px) {
  .footer-bottom .copyright, .footer-bottom .copyright-author {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
  }
}

@media (max-width: 576px) {
  .footer-bottom .copyright-author {
      margin-top: 5px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px;
  padding:0;
  margin:0;
  list-style-type: none;
}

@media (max-width: 767px) {
  .footer-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-bottom: 35px;
  }
}

.footer-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 370px;
  flex: 0 0 370px;
  max-width: 370px;
  line-height: 1;
}

@media (max-width: 1199px) {
  .footer-list__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
  }
}

@media (max-width: 767px) {
  .footer-list__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
  }
}

.footer-list__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-logo__link {
  color: #333;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 40px;
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-logo__link:hover {
  color: #333;
}

.footer-title {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .footer-title {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: auto;
      margin-top: 30px;
  }
}

.footer-address {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

.footer-address__shell {
  max-width: 200px;
}

@media (max-width: 767px) {
  .footer-address__shell {
      margin: 0 auto;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: auto;
}

@media (max-width: 767px) {
  .footer-social {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 25px;
  }
}

.footer-social__link {
  margin-right: 10px;
}

.footer-social__link:hover {
  opacity: 0.6;
}

.footer-social__link:last-child {
  margin-right: 0;
}

.footer-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
   
  padding:0;
  margin:0;
  list-style-type: none;
}

.footer-menu__item {
  line-height: 1;
  margin-bottom: 10px;
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.footer-menu__item:nth-last-child(2) {
  margin-bottom: 0;
}

.footer-menu__item:last-child {
  margin-bottom: 0;
}

.footer-menu__link {
  color: #333;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.footer-menu__link:hover {
  color: #333;
  text-decoration: underline;
}

.subscribe-form {
  width: 100%;
}

@media (max-width: 576px) {
  .subscribe-form {
      max-width: 320px;
      margin: auto;
  }
}

.subscribe-form__text {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 10px;
}

.subscribe-form__input {
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
  padding: 15px;
}

.subscribe-form__btn {
  width: 100%;
  max-width: 100%;
  height: 48px;
}

.subscribe-form ::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.subscribe-form ::-moz-placeholder {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.subscribe-form :-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.subscribe-form :-moz-placeholder {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/*--------------------------footer-------------------------------*/


/*--------------------------PRODUCT-PAGE-------------------------------*/
.product-screen__background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  align-content: center;
}
.product-screen__container{
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  padding-top:165px;
  padding-left: 260px;
  padding-right: 260px;
  
}
.product-page__logo{
  margin-left: 375px;
  margin-top:39px;
  z-index: 1;
}
/*--------------------------/PRODUCT-PAGE-------------------------------*/